.top {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    height: 80px;
    background-color: #fff;
    line-height: 80px;
    border-bottom: 1px solid #eee;
}
.top .container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.logobox {
    width: 305px;
    float: left;
    height: 46px;
}
.logobox img {
    width: 100%;
}
#menu {
    list-style-type: none;
    float: right;
}
#menu li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 16px;
}
#menu a {
    float: left;
    /*padding: 10px 20px;*/
    background-color: #fff;
    line-height: 36px;
    padding: 0 15px;
    color: #333;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    border-radius: 15px;
}
#menu a:hover {
    color: #fff;
    background-color: #EC7F39;
    border-radius: 15px;
}
#menu .active a {
    color: #fff;
    background-color: #EC7F39;
    border-radius: 15px;
}
.bg {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg1 {
    background-image: url("../imgs/bg1.png");
}
.bg2 {
    background-image: url("../imgs/bg2.png");
}
.bg3 {
    background: linear-gradient(0deg, #ed7138, #ffab4b);
}
.bg5 {
    background-image: url("../imgs/bg5.png");
}
.bg6 {
    background-color: #F4A032;
}
.bg7 {
    background-image: url("../imgs/bg7.png");
}
.bg1text {
    font-size: 67px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    width: 1200px;
    margin: 0 auto;
    padding: 25.1% 0 29px 0;
    overflow: hidden;
}
.bg1en {
    text-align: left;
    width: 1200px;
    margin: 0 auto;
    font-size: 50px;
    color: #fff;
}
.bg1en img {
    width: 700px;
}
.face {
    position: absolute;
    width: 289px;
    top: 10%;
    right: 0;
}
.face img {
    width: 100%;
}
.tips {
    position: absolute;
    color: #B07050;
    font-size: 18px;
    bottom: 146px;
    left: 0;
    right: 0;
    text-align: center;
}
.tipsimg {
    position: absolute;
    bottom: 80px;
    text-align: center;
    left: 0;
    right: 0;
    width: 14px;
    margin: 0 auto;
    height: 28px;
}
.tipsimg img {
    width: 100%;
}
.title {
    font-size: 38px;
    color: #fff;
    text-align: center;
    /*padding: 66px 0 0 0;*/
    line-height: 60px;
    position: relative;
    font-weight: bold;
}
.bg3 .title{
    padding: 66px 0 0 0;
}
.box {
    overflow: hidden;
    padding: 50px 0 0 0;
    width: 1200px;
    margin: 0 auto;
}
.box .item {
    float: left;
    text-align: center;
    color: #fff;
    margin-right: 225px;
    width: 250px;
    font-size: 38px;
    line-height: 60px;
}
.box .item .en {
    font-size: 30px;
}
.box .item:last-child {
    margin: 0;
}
.box .item .img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px dashed #FFAB4B;
    position: relative;
    cursor: pointer;
}
.box .item .img .mold {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 250px;
    background-color: rgba(236, 101, 56, 0.4);
    bottom: -250px;
    transition: all 0.3s;
}
.box .item .img .mold img {
    width: 71px;
}
.box .item .img:hover .mold {
    bottom: 0;
}
.box .item .img img {
    width: 100%;
}
.title:before {
    content: '';
    position: absolute;
    width: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10px;
    border-bottom: 8px solid #F49039;
}
.bg3 .title:before {
    border-bottom: 8px solid #fff;
}
.bg4 .bg4title {
    color: #333333;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14.6%;
    font-size: 38px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}
.bg4 .title {
    color: #333333;
}
.bg5 .title {
    color: #333;
}
.bg6 .title {
    color: #fff;
}
.bg6 .title:before {
    border-bottom: 8px solid #fff;
}
.bg4 .title:before {
    border-bottom: 8px solid #F28F35;
}
.bg5 .bg5title {
    color: #333333;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14.6%;
    font-size: 38px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}
.bg5 .title:before {
    border-bottom: 8px solid #F28F35;
}
.bg3 .bg3title {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14.6%;
    font-size: 38px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    z-index: 10;
}
.bg3 .bg3title:before {
    border-bottom: 8px solid #fff;
}
.bg6 .bg6title {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14.6%;
    font-size: 38px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}
.fp-section {
    /*padding: 80px 0 0 0;*/
}
.iconbox {
    padding: 55px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 190px;
}
.offerbg {
    position: absolute;
    left: 0;
    width: 100%;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: 1;
    height: 56.8%;
}
.offerbg img {
    width: 100%;
}
.offerbg .logowhite {
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    width: 1200px;
}
.offerbg .logowhite img {
    width: 134px;
    display: block;
    margin: 0 auto;
}
.offerbg .logowhite .logotext {
    padding: 23px 0;
    font-size: 34px;
    color: #fff;
}
.iconitem {
    width: 113px;
    margin-right: 42px;
    color: #fff;
    font-size: 0;
    font-weight: bold;
    float: left;
    position: relative;
    z-index: 2;
}
.iconbox .iconitem:last-child {
    margin-right: 0;
}
.iconitem img {
    width: 100%;
}
.iconitem .text {
    font-size: 22px;
    padding: 15px 0 ;
    text-align: center;
}
.mr0 {
    margin-right: 0;
}
.icon1 {
    margin-top: 289px;
}
.icon2 {
    margin-top: 155px;
}
.icon3 {
    margin-top: 87px;
}
.bg4 img {
    width: 100%;
}
.bg4 .title,.bg5 .title, .bg6 .title{
    padding: 66px 0 0 0;
}
.imgleft {
    width: 24%;
    position: absolute;
    top: 20%;
    left: 0;
}
.imgmid {
    width: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 28.4%;
    position: absolute;
}
.imglogo {
    /*position: absolute;*/
    width: 25%;
    /*left: 0;*/
    /*right: 0;*/
    margin: 0 auto;
}
.imgtext {
    text-align: center;
    color: #EB6739;
    font-size: 38px;
    padding: 10px 0;
}
.imgright {
    position: absolute;
    right: 0;
    top: 20%;
    width: 24%;
}
.imgl {
    position: absolute;
    top: 55.3%;
    left: 15.25%;
    height: 254px;
}
.imgl img {
    height: 100%;
    width: auto;
}
.imgr {
    position: absolute;
    top: 55.3%;
    right: 15.25%;
    height: 254px;
}
.imgr img {
    height: 100%;
    width: auto;
}
.bbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    margin: auto;
    height: 325px;
    overflow: hidden;
}
.bbox .bitem {
    /*float: left;*/
    /*width: 16.8%;*/
    /*margin-right: 4%;*/
    text-align: center;
    /*position: relative;*/
    position: absolute;
    left: -260px;
    /*overflow: hidden;*/
}
.bbox .bitem .imgbox {
    width: 150px;
    height: 150px;
    display: block;
    line-height: 150px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.bbox .bitem .imgbox > img {
    vertical-align: middle;
    width: 145px;
    margin: 0 auto;
}
.bbox .bitem .imgbox .plus {
    width: 36px;
    height: 36px;
    position: absolute;
    right: -76px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    line-height: 0;
}
.bbox .bitem .imgbox .plus img {
    width: 100%;
}
.bbox .bitem .textspan {
    padding: 56px 0;
}
.bbox .bitem .textspan span {
    color: #282727;
    font-size: 30px;
}
.bbox .bitem .textspan span.span {
    font-weight: bold;
    font-size: 34px;
}
.bbox .bitem:last-child {
    margin: 0;
}
.hbox {
    padding-top: 146px;
    height: 518px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}
.hbox .hitem {
    width: 21%;
    margin-right: 60px;
    float: left;
    position: relative;
    z-index: 1;
}
.hbox .hitem:hover .img {
    opacity: 1;
}
.hbox .hitem .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: ease-in-out 0.3s;
    opacity: 0;
}
.hbox .hitem .img img {
    width: 100%;
}
.hbox .hitem .htext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    border: 1px dashed #fff;
    font-size: 36px;
    padding: 85.4% 0 0 0;
    text-align: center;
    color: #fff;
}
.hbox .hitem .htext .keytitle {
    font-weight: bold;
    font-size: 50px;
    padding: 0 0 25px 0;
}
.hbox .hitem img {
    width: 100%;
}
.hbox .hitem:last-child {
    margin: 0;
}
.qplus {
    width: 707px;
    margin: 138px auto 0 auto;
}
.qplus img {
    width: 100%;
}
.address {
    padding: 20px 0 0 0;
    font-size: 22px;
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: justify;
}
.address .icon {
    width: 26px;
    margin: 0 10px 0 0;
    display: inline-block;
}
.address .icon.add {
    width: 20px;
}
.address .ress {
    padding-left: 10px;
}
.hbg {
    width: 159px;
    height: 94px;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("../imgs/hbg.png");
    background-position: center;
    font-weight: bold;
    color: #FF6317;
    font-size: 22px;
    text-align: center;
    padding: 23px 0;
    line-height: 24px;
}
.hbg .en {
    font-size: 18px;
}
