.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1rem;
    padding: 0 0.4rem;
    background-color: #333;
    font-size: 0;
    z-index: 100;
    width: 100%;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
}

.fp-section {
    transition: ease-in-out .3s;
}

.top .toplogo {
    width: 3.6rem;
    display: flex;
    align-items: center;
}

.top .toplogo img {
    width: 100%;
}

.top .ricon {
    width: 0.29rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .ricon img {
    width: 100%;
    transition: ease-in-out 3s;
}

.top .menu {
    position: fixed;
    font-size: 0.24rem;
    width: 5.16rem;
    right: 0;
    top: 1rem;
    display: none;
}

.top .menu li {
    background-color: #1C1F20;
    color: #fff;
    border-bottom: 1px solid #626262;
}

.top .menu li:first-child {
    background-color: rgba(0, 0, 0, 0.9);
}

.top .menu li a {
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 0.15rem 0.38rem;
}

.bg {
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100% 100%;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
}

/*.bg .title {*/
/*font-size: 0.45rem;*/
/*color: #fff;*/
/*text-align: center;*/
/*line-height: 0.6rem;*/
/*font-weight: bold;*/
/*position: relative;*/
/*!*position: absolute;*!*/
/*!*top: 0.69rem;*!*/
/*!*left: 0;*!*/
/*!*width: 100%;*!*/
/*!*z-index: 10;*!*/
/*margin-bottom: 2rem;*/
/*transition: ease-in-out .3s;*/

/*}*/

/*.bg .title:before {*/
/*content: '';*/
/*position: absolute;*/
/*width: 0.45rem;*/
/*left: 0;*/
/*right: 0;*/
/*margin: 0 auto;*/
/*bottom: -10px;*/
/*border-bottom: 0.08rem solid #F49039;*/
/*}*/
/*}*/
.title {
    font-size: .48rem;
    color: #fff;
    text-align: center;
    /*padding: 66px 0 0 0;*/
    /*line-height: ;*/
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}

.title:before {
    content: '';
    position: absolute;
    width: .45rem;
    left: 3.1rem;
    bottom: -.23rem;
    border-bottom: 4px solid #FF6633;
}

.title .us {
    position: absolute;
    font-size: .3rem;
    left: -.63rem;
    line-height: .8rem;

}

.title .en {
    position: absolute;
    color: rgba(255, 255, 255, .2);
    font-size: .72rem;
    left: -1.75rem;
    min-width: 2.81rem;
    top: -.3rem;
}

.title .is {
    position: relative;
    font-weight: bold;
}

.title .isword {
    display: inline-block;
}

.bg.bg2 .title .en {
    width: 2.9rem;
    left: -1.9rem;
}

.bg.bg3 .title .en {
    width: 3.82rem;
    left: -2.4rem;
}

.bg.bg4 .title .en {
    width: 3.4rem;
    left: -1.9rem;
}

.bg.bg5 .title:before {
    /*border-color: #;*/
}

.bg.bg5 .title .en {
    width: 4.5rem;
    left: -2.2rem;
    color: rgba(0, 0, 0, .1);
}

.bg.bg6 .title .en {
    width: 3.4rem;
}


.bg.bg1 {
    /*background-image: url("../mimgs/bg1.png");*/
    background-color: #FBC148;
}

.bg.bg1 .bg1text {
    text-align: center;
    color: #fff;
    font-size: 0.56rem;
    margin-top: .41rem;
    position: relative;
}

.bg.bg1 .bg1text:before {
    content: '';
    position: absolute;
    width: .45rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.23rem;
    border-bottom: 4px solid #fff;
}

.bg.bg1 .bg1text span {
    font-weight: bold;
}

.bg.bg1 .face {
    position: absolute;
    top: 3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 2.5rem;
}

.bg.bg1 .face img {
    width: 100%;
}

.bg.bg1 .bg1en {
    width: 4.74rem;
    /*margin: 0 auto;*/
    margin: 50vh auto 0 auto;

}

.bg.bg1 .bg1en img {
    width: 100%;
}

.bg.bg1 .tips {
    position: absolute;
    bottom: 1.1rem;
    color: #B07050;
    font-size: 0.28rem;
    left: 0;
    width: 100%;
    text-align: center;
}

.bg.bg1 .tipsimg {
    position: fixed;
    bottom: .5rem;
    text-align: center;
    left: 0;
    right: 0;
    width: .54rem;
    height: .54rem;
    margin: 0 auto;
    font-size: 0;
    background-color: #FF6634;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.02rem .1rem 0;
}

.bg.bg1 .tipsimg .img {
    width: .20rem;
    height: .15rem;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 0 auto;*/
    /*top: 25%;*/
    /*bottom: 0;*/
    border-left: 2px solid #fac444;
    border-bottom: 2px solid #fac444;
    transform: rotate(-45deg);
    z-index: 10;
}

.bg.bg2 {
    background-image: url("../mimgs/bg2.png");
}

.bg.bg2 .title {
    margin-bottom: 4rem;
}

.bg.bg2 .swiper-container .swiper-wrapper {
    width: 100%;
}

.bg.bg2 .swiper-container .swiper-wrapper .swiper-slide {
    width: 45%;
    transition: ease-in-out 0.3s;
    transform: scale(0.9);
}

.bg.bg2 .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
    transform: scale(1);
}

.bg.bg2 .swiper-container .swiper-wrapper .swiper-slide .sitem {
    text-align: center;
    font-size: 0.38rem;
    color: #fff;
}

.bg.bg2 .swiper-container .swiper-wrapper .swiper-slide .sitem .img {
    width: 3.2rem;
    margin: 0 auto;
}

.bg.bg2 .swiper-container .swiper-wrapper .swiper-slide .sitem .img img {
    width: 100%;
}

.bg.bg2 .swiper-container .swiper-wrapper .swiper-slide .sitem .en {
    font-size: 0.36rem;
}

.bg.bg2 .swiper-container .swiper-wrapper .swiper-slide .sitem .en span {
    font-size: 0.48rem;
    color: #F9C346;
}


.bg.bg3 {
    background: linear-gradient(0deg, #ed7138, #ffab4b);
}

.bg.bg3 .title {
    /*margin-bottom: 4rem;*/
}

.bg.bg3 .title:before {
    border-bottom: 0.08rem solid #fff;
}

.bg.bg3 .bg3line1 {
    position: relative;
    margin-bottom: 2rem;
    height: 1.69rem;

}

.bg.bg3 .bg3line1.margin0 {
    margin: 0;
}

.bg.bg3 .bg3line1 img {
    width: 100%;
}

.iconbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.iconbox .iconitem {
    text-align: center;
    color: #fff;
}

.iconbox .iconitem .text {
    font-size: .18rem;
}

.iconbox .iconitem .en {
    font-size: .24rem;
}

.iconbox .iconitem.icona img {
    width: 1.51rem;
}

.iconbox .iconitem.iconb img {
    width: 1.31rem;
}

.bg.bg3 .bg3line1 .img2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*animation: heart1 1.3s ease-in-out 2.7s infinite alternate;*/
}

.bg.bg3 .bg3line1 .img1 {
    /*height: 100%;*/
    /*width: 100%;*/
    /*animation: heart1 1.3s ease-in-out 2.7s infinite alternate;*/
}

.bg.bg3 .iconbox .iconitem.icon1 {
    margin: -1.5rem 0 0 0;
}

.bg.bg3 .iconbox .iconitem.icon2 {
    margin: .3rem 0 0 0;
}

.bg.bg3 .iconbox .iconitem.icon3 {
    margin: -1.5rem 0 0 0;
}

.bg.bg3 .iconbox .iconitem.icon4 {
    margin: -.8rem 0 0 0;
}

.bg.bg3 .iconbox .iconitem.icon5 {
    margin: -.3rem 0 0 0;
}

.bg.bg3 .iconbox .iconitem.icon6 {
    margin: -.3rem 0 0 0;
}

.bg.bg3 .iconbox .iconitem.icon7 {
    margin: -1.3rem 0 0 0;
}

.bg.bg3 .iconbox .iconitem.icon8 {
    margin: .3rem 0 0 0;
}

.bg.bg3 .offerbg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bg.bg3 .offerbg img {
    width: 100%;
}

.logowhite {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.42rem;
    color: #fff;
    bottom: 1rem;
    width: 100%;
    left: 0;
}

.logowhite img {
    width: 1.34rem;
}

.bg.bg4 {
    background-image: url("../mimgs/bg4.png");
}


.bg.bg4 .imgbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    position: relative;
    margin-top: 2.5rem;
}

.bg.bg4 .imgbox.mr0 {
    margin: 0;
}

.bg.bg4 .imgbox img {
    width: 3.57rem;
}

.midimg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.midimg img {
    width: 3.21rem;
}

.bg.bg4 .imgbox .imgitem {
    position: relative;
}

.bg.bg4 .imgbox .imgitem .hbg {
    background-image: url("../mimgs/hbg.png");
    width: 1.82rem;
    height: 1.09rem;
    position: absolute;
    top: -0.4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-position: center;
    font-weight: bold;
    color: #FF6317;
    font-size: 0.24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg.bg4 .imgbox .imgitem .hbg .en {
    font-size: 0.2rem;
}

.bg.bg4 .imglogo {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #EB6739;
    font-size: 0.38rem;
    left: 0;
    width: 100%;
}

.bg.bg4 .imglogo img {
    width: 1.21rem;
}

.bg.bg5 {
    background-image: url("../mimgs/bg5.png");
}

.bg.bg5 .title {
    color: #585858;
}

.bg.bg5 .bgmid {
    width: 7.24rem;
    position: relative;
}

.bg.bg5 .bgmid .bgmidimg {
    width: 100%;
}

.bgmid .b {
    position: absolute;
    text-align: center;
}

.bgmid .b img {
    width: 1.2rem;
}

.bgmid .b .text {
    font-size: .28rem;
    padding: .1rem 0;
}

.bgmid .b .text span {
    font-weight: bold;
}

.bgmid .b.b1 {
    left: .8rem;
    top: -2rem;
}

.bgmid .b.b2 {
    right: .65rem;
    top: -1.8rem;
}

.bgmid .b.b3 {
    right: .8rem;
    bottom: -2.4rem;
}


.bgmid .b.b4 {
    left: .8rem;
    bottom: -2.25rem;
}

.bgmid .b.b2 img {
    width: 1rem;
}

.bgmid .b.b4 img {
    width: 1rem;
}


.bg.bg5 .bgmid .line5 {
    position: absolute;
    width: 4.16rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -1.45rem;
}

.bg.bg5 .bbox {
    /*margin: .3rem 0 0 0;*/
}

.bg.bg5 .bbox .imgbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.56rem;
}

.bg.bg5 .bbox .imgbox.imgbox2 {
    padding: 0 0.7rem;
}

.bg.bg5 .bbox .imgbox.imgbox2 .box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bg.bg5 .bbox .imgbox .plus {
    width: 0.36rem;
}

.bg.bg5 .bbox .imgbox .plus img {
    width: 100%;
}

.bg.bg5 .bbox .imgbox .textspan {
    color: #282727;
    font-size: 0.3rem;
    padding: 0.25rem 0 0 0;
}

.bg.bg5 .bbox .imgbox .textspan .span {
    font-size: 0.34rem;
    font-weight: bold;
}

.bg.bg5 .bbox .imgbox img {
    width: 1.53rem;
}

.bg.bg5 .bbox .plusbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.55rem .35rem 0.55rem;
}

.bg.bg5 .bbox .plusbox img {
    width: 0.36rem;
}

.bg.bg5 .bbox .equbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.4rem 0 0 0;
}

.bg.bg5 .bbox .equbox .equ {
    width: 0.36rem;
}

.bg.bg5 .bbox .equbox .logo {
    width: 1.52rem;
    margin: 0.5rem 0 0.2rem 0;
}

.bg.bg5 .bbox .equbox .textspan {
    font-weight: bold;
    font-size: 0.38rem;
}

.bg5 .fp-tableCell {
    padding: .5rem 0 0 0;
}

.bg.bg6 {
    background-color: #F4A032;
}

.bg.bg6 .title {
    margin: 0;
}

.bg.bg6 .title:before {
    border-bottom: 0.08rem solid #fff;
}

.bg.bg6 .hbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .3rem 0.97rem 0 .97rem;
    margin: .5rem 0 0 0;
    position: relative;
    z-index: 2;
}

.bg.bg6 .wehate {
    width: 7.37rem;
    position: absolute;
    top: 1.87rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.bg.bg6 .wehate img {
    width: 100%;
}

.bg.bg6 .hbox .hitem {
    width: 2.27rem;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    position: relative;
    /*margin: 0 0 0.42rem 0;*/
}

.bg.bg6 .hbox .hitem img {
    width: 100%;
}

.bg.bg6 .hbox .hitem .htext {
    text-align: center;
    color: #fff;
    padding: .1rem 0 .2rem 0;
    font-size: .3rem;
    transition: ease-in-out .3s;
}

.hbox .hitem img.h {
    width: 100%;
    border: .1rem solid #F4A032;
    transition: ease-in-out .3s;
}

.hbox .hitem:hover img.h {
    border-color: #fff;
    -webkit-box-shadow: 0 0 .3rem 0.05rem #000;
    -moz-box-shadow: 0 0 .3rem 0.05rem #000;
    box-shadow: 0 0 .3rem 0.05rem #000;
    transform: scale(1.1);
}

.hbox .hitem:hover .htext {
    font-size: .38rem;
    font-weight: bold;
}

.hbox .hitem .htext.hovertext {
    font-size: .38rem;
    font-weight: bold;
}

.hbox .hitem .w {
    font-size: 0;
    position: relative;
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    opacity: 0;
    transform: rotate(0) scale(5);
    border-radius: 50%;
}

.hbox .hitem .loaded {
    position: relative;
    font-size: 0;
}

.hbox .hitem .loaded .w {
    opacity: 1;
    transform: scale(1);
    z-index: 10;
}

.hbox .hitem:hover .w {
    transform: rotate(-10deg) scale(1.2);
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 .3rem 0.05rem #fff;
    -moz-box-shadow: 0 0 .3rem 0.05rem #fff;
    box-shadow: 0 0 .3rem 0.05rem #fff;
}

.bg.bg6 .hbox .hitem .w {
    position: absolute;
    bottom: .66rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1.08rem;
}


.bg.bg7 {
    background-image: url("../mimgs/bg7.png");
    background-color: #F4A032;
}

.bg.bg7 .qplus {
    width: 6.56rem;
    margin: 0 auto .57rem auto;
}

.bg.bg7 .qplus img {
    width: 100%;
}

.bg.bg7 .address {
    display: flex;
    align-items: center;
    font-size: 0.28rem;
    color: #fff;
    padding: 0 0 0.38rem 0.45rem;
}

.bg.bg7 .address img {
    width: 0.37rem;
}

.bg.bg7 .address .ress {
    padding: 0 0 0 0.6rem;
}

.vr_wrap {
    background: #FF6317;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: .54rem;
    height: .54rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 10px #fbfbfb;
    animation: mymove 2s infinite;
    animation-direction: alternate;
}


.vr_wrap2 {
    background: #FF6317;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-radius: 50%;
    width: .54rem;
    height: .54rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 10px #fbfbfb;
    animation: mymove1 2s infinite;
    animation-direction: alternate;
}

@keyframes mymove {

    0% {

        box-shadow: 0px 0px 0px 2px #FF6834;

        height: .54rem;

        width: .54rem;

    }

    100% {

        box-shadow: 0px 0px 0px 20px #FF6834;

        height: .55rem;

        width: .55rem;

    }

    100% {

        opacity: 0;

        filter: alpha(opacity=0);

    }

}

@keyframes mymove1 {

    0% {

        box-shadow: 0px 0px 0px 2px #FF6834;

        height: .54rem;

        width: .54rem;

    }

    50% {

        box-shadow: 0px 0px 0px 20px #FF6834;

        height: .55rem;

        width: .55rem;

        opacity: 0;

    }

    100% {

        opacity: 0;

        filter: alpha(opacity=0);

    }
}

@keyframes heart {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(0, 10px)
    }
}

@-webkit-keyframes heart {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(0, 10px)
    }
}

@keyframes heart1 {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(0, 20px)
    }
}

@-webkit-keyframes heart1 {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(0, 20px)
    }
}
